
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000000;
    cursor: pointer;
    transition-property: width;
  }

  #text{
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #text_two {
    position: absolute;
    top: 60%;
    left: 25%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #text_content{
    position: absolute;
    top: 24%;
    left: 18%;
    font-size: 20px;
    color: white;
  }
  
  #text_content_two {
    position: absolute;
    top: 64%;
    left: 18%;
    font-size: 20px;
    color: white;
  }

  #map_container{
      display: flex;
  }

 #mapid {
    height: 90vh;
    width: 70%;
    margin-left: 20px;
}

.entry-list {
    float: left;
    width: 30%;
    height: 90vh;
    overflow: auto;
    background: whitesmoke;
}

.entry-list .heading {
    background: #ff6900;
    color: #fff;
}
.entry-list .heading h3 {
    padding: 1rem;
}
  
::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: #ff6900;
    border-radius: 0;
}
.entry-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}
.entry-list .entry-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}
.entry-list li:last-child .entry-item {
    border: none;
}

.entry-list li:hover{
    background:#d8cecef1  !important;
}


.entry-list .entry-item a {
    text-decoration: none;
    font-size: 15px;
    color: #ff6900;
    font-weight: 700;
}

.entry-list .entry-item a:active{
    color: #0077ff;
}

.entry-list .entry-item p {
    font-size: 12px;
    color: #404040;
}
.entry-list .entry-item button {
  border: none;
  border-radius: 12px;
  color: black;
  padding:1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
